@model CRA.DataAccess.AssignmentViewModel

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    ViewData["Title"] = "Modification Assignement";
}


<div class="text-center">
    <h1>Editer une affectation</h1>
    <hr />
    <div class="row">
        <div class="col-md-12">

            <form asp-action="Edit" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="Code" />

                <div class="form-group">
                    <label asp-for="Libelle">Libellé de la mission</label>
                    <input asp-for="Libelle" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Description">Description de la mission</label>
                    <input asp-for="Description" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Username">Nom d'utilisateur du salarié</label>
                    <select asp-for="Username" class="form-control" asp-items="ViewBag.EmployeeUsernames"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Start">Début de la mission</label>
                    <input asp-for="Start" class="form-control" type="datetime-local" />
                </div>
                <div class="form-group">
                    <label asp-for="End">Fin de la mission</label>
                    <input asp-for="End" class="form-control" type="datetime-local" />
                </div>
                <button type="submit" class="btn btn-primary" asp-route-adminId="@ViewData["AdminId"]">Sauvegarder</button>
                
            </form>

        </div>
    </div>
</div>


<div>
    <a asp-action="Index" asp-route-id="@ViewData["AdminId"]">Back to the list of missions</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}