@model IEnumerable<CRA.Models.TimeSlot>

@{
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
    ViewData["Title"] = "SendEntry";
}

<h3>Êtes-vous sûr de vouloir envoyer la semaine pour validation ?</h3>
<div>
    <br />
    
    <form asp-action="SendEntry" >
        <a class="btn btn-secondary" asp-action="ActivityEntry" asp-route="@ViewData["EmployeeId"]">Annuler</a> |
        <input type="submit" value="Oui" class="btn btn-succes" asp-route-employeeId="@ViewData["EmployeeId"]" />
    </form>
</div>
