@model IEnumerable<CRA.Models.Assignment>

@{
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
    ViewData["Title"] = "Report";
}

<div class="text-center">
    <h1>Generate an activity report</h1>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Generate">
                <!-- Sélection du mois -->
                <div class="form-group">
                    <label for="Month" class="control-label">Month</label>
                    <select id="Month" name="Month" class="form-control  text-center" required>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </div>

                <!-- Sélection de l'année -->
                <div class="form-group">
                    <label for="Year" class="control-label">Year</label>
                    <input type="text" id="Year" name="Year" class="form-control  text-center" value="@DateTime.Now.Year" required />
                </div>
                <hr />

                <!-- Bouton de soumission -->
                <div class="form-group">
                    <input type="submit" value="Generate" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
