@model CRA.Models.Admin

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome @Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.Surname)</h1>
</div>
