@model CRA.Models.Assignment

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Modification Assignement";
}


<div class="text-center">
    <h1>Edit Mission</h1>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit" class="form-inline">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input asp-for="Code" type="hidden" />

                <div class="form-group">
                    <label asp-for="Libelle" class="control-label"></label>
                    <input asp-for="Libelle" class="form-control" />
                    <span asp-validation-for="Libelle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" asp-route-adminId="@ViewData["AdminId"]" />
                </div>
            </form>
            </div>
        </div>
    </div>


<div>
    <a asp-action="Index" asp-route-id="@ViewData["AdminId"]">Back to the list of missions</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
