@model CRA.Models.Employee

@{
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Bonjour @Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.Surname)</h1>
    <hr/>
</div>
<div style="text-align:left;">
<p>
        Vous trouverez votre emploi du temps dans la page dédiée à votre emploi du temps, qui inclut les créneaux horaires des missions validés préalablement par l'administrateur.
    Vous pouvez consulter les missions auxquelles vous êtes affecté ainsi que leurs détails dans la page dédiée à vos missions.
    De plus, vous avez la possibilité de générer votre rapport d'activité pour un mois et une année donnés, et de saisir votre activité.
</p>
</div>