@model CRA.Models.TimeSlot
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Liste Assignements";
}
@{
    var adminId = ViewData["AdminId"];
}

<h1>Edit</h1>

<h4>Modification </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="Id" type="hidden" />
            <input asp-for="AssignmentCode" type="hidden" />
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <select asp-for="State" class="form-control">
                    <option value="SENT">SENT</option>
                    <option value="VALIDATED">VALIDATED</option>
                    <option value="REJECTED">REJECTED</option>
                </select>
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" asp-route-adminId="@ViewData["AdminId"]" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@ViewData["AdminId"]">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

